* {
  box-sizing: border-box;
}
.container{
    background-color: lightsteelblue;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}
.text-center{
    font-size: 35px;
    text-align: center;
}
.form-group{
    display:flex;
    place-items: center;
    font-size: 30px;
    height: 80px;
    padding: 20px;
}

.form-control{
    height: 50px;
    width: 500px;
    margin: 20px;
    font-size: 20px;
}
.btn{
    margin-left: 110px;
     width: auto;
    background-color: navy;
    border: none;
    height: 40px;
    margin-top: 2px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    padding: 15px;
}
.b{height: 100%;
    width: 570px;
    padding: 20px;
    position: absolute;
    background-color: bisque;
    text-align: center;
    top: 37%;
    border-radius: 20px;
    
}
.box1{left: 3%;
    
}
.box2{right: 3%;


}

th{
    padding: 10px;
    font-size: 25px;
    color: navy;
}
td{
    text-align: left;
    font-size: 20px;
}

table{
    padding: 10px;
}