*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-content: center;
    background-color:#80bfff;
    background-size: 100% 100%;
    font-family: serif;
    font-size: 25px;
    height: 100vh;
}
body a{
    margin-left: 100px;
    text-decoration: none;
}
.head h3{
    text-align: center;
    font-size: 70px;
    font-weight: 650;
    letter-spacing: 2.5px;
    text-shadow: 4px 4px 8px white;
    color: #002266;
    top: 20%;
    position: absolute;
    left: 55%;
}
.head h1{
    text-align: center;
    font-size: 70px;
    font-weight: 650;
    letter-spacing: 2.5px;
    text-shadow: 4px 4px 8px white;
    color: #002266;
    top: 35%;
    position: absolute;
    left: 70%;
}
.head h2{
    text-align: center;
    font-size: 40px;
    font-weight: 550;
    letter-spacing: 2.5px;
    text-shadow: 4px 4px 8px white;
    color: #002266;
    top: 50%;
    position: absolute;
    left: 80%;
}
.head{
   height: 60vh;
   
}
.scroll{
    height: 60vh;
    width: 40vw;
    position: absolute;
    top: 40%;
    left: 25%;
    background: white;
    transform: translate(-50%,-50%);
    box-shadow: 8px 8px 10px white ;
    animation: animate 15s   ease-in-out  infinite;
    background-size: 100% 100%;
    border: solid 5px     white;

}
@keyframes animate{
    0%{background-image: url(3.jpg);}
    20%{background-image: url(1.jpg);}
    40%{background-image: url(2.jpg);}
    60%{background-image: url(4.jpg);}
    80%{background-image: url(5.jpg);}
    100%{background-image: url(6.jpg);}
}
.content{background-color: #002266;
    width: 80vw;
    color: aliceblue;
    font-size: 25px;
    font-weight: 400;
    margin-top: 880px;
    text-align: left;
    margin-left: 20px;
    border: solid 5px     white;
    padding: 20px;
}
